@model IPagedList<PetStore.DATA.EF.Models.Product>
@using X.PagedList.Mvc.Core;
@using X.PagedList;



<section id="portfolio" class="portfolio sections-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
            <h2>Shop</h2>
            <p>Shop all of our exclusive items here!</p>
        </div>

        <p align="center">
            @if (User.IsInRole("Admin"))
            {
                <span>
                    <a asp-action="Create">Add New Product</a> |
                    <a asp-action="Discontinued">Discontinued Products</a> |
                </span>
            }
            <a asp-action="Index">Table View</a>
        </p>
        <form asp-action="TiledProducts" controller="Products" name="searchform" method="post">
            <div class="d-flex align-content-center">
                <label for="searchTerm" class="form-label pt-3">Search</label>
                <input type="text" name="searchTerm" class="form-control w-50 m-2" />
                <button class="btn btn-outline-primary btn-sm m-2" type="submit">Submit</button>
            </div>
        </form>

        <div class="portfolio-isotope aos-init aos-animate" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

            <div>
                <ul class="portfolio-flters">

                    <li data-filter="*" class="filter-active">All</li>                   
                    <li data-filter=".filter-">Cats</li>
                    <li data-filter=".filter-product">Dogs</li>
                    <li data-filter=".filter-branding">Reptiles</li>
                    <li data-filter=".filter-books">Birds</li>
                    <li data-filter=".filter-books">Fish</li>
                    <li data-filter=".filter-books">Rabbits</li>
                </ul><!-- End Portfolio Filters -->
            </div>

            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="box" >
                            <div class="option_container">
                                <div class="options">
                                    
                                    <a asp-action="AddToCart"
                                       asp-controller="ShoppingCart"
                                       asp-route-id="@item.ProductId"
                                       class="option2 btn btn-outline-dark">
                                        Add To Cart
                                    </a>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="~/assets/img/@item.ProductImage" alt="@item.ProductDescription" style="width:200px; height:200px;">
                            </div>
                            <div class="detail-box">
                                <a asp-action="Details"
                                   asp-route-id="@item.ProductId"
                                   class="option1 btn">
                                    @item.ProductName
                                    @Html.DisplayFor(modelItem => item.ProductPrice)
                                </a>
                                <h6>
                                   
                                </h6>
                            </div>
                        </div>
                    </div>

                }


            </div>
           
            <div class="row mt-5">
                <div class="w-50 mx-auto text-center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    <div class="w-100">
                        @Html.PagedListPager(
                        Model,
                        page => Url.Action("TiledProducts",
                        new {page, searchTerm = ViewBag.SearchTerm, categoryId = ViewBag.Category}
                        ))
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>