@model IEnumerable<PetStore.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="MessageContent"></div>
<table class="table" id="CategoriesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr id="Category-@item.CategoryId">
                <td>
                    @Html.DisplayFor(modelItem => item.Animal)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                   
                    <button type="button" , class="DetailsLinkbtn btn-link" , id="@item.CategoryId" , data-toggle="modal" , data-target="#CategoryDetails">
                        Details
                    </button>|
                    @*<a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>*@
                    <a data-ajax="true"
                       data-ajax-confirm="Are you sure you want to delete @item.Animal"
                       data-ajax-failure="deleteFailed"
                       data-ajax-success="deleteConfirmed"
                       data-ajax-method="POST"
                       href="~/Categories/AjaxDelete/@item.CategoryId">
                        Delete
                    </a>
                </td>
            </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        //*********** AJAX DELETE ***********//
        function deleteConfirmed(response, status, data) {
            //Remove the Category from the Table.
            let rowId = "#Category-" + response.id;
            console.log(rowId);
            $("#CategoriesTable").find(rowId).remove();
            //Display status message
            $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>");
        }
        function deleteFailed(response, status, data) {
            //Display status message
            $("#MessageContent").html("<div class='alert alert-danger'>Delete unsuccessful</div>");
        }
    </script>
}
